<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Wopi_ServiceSoap" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxStringContentLength="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.23:1313/Wopi_Service.asmx"
          binding="basicHttpBinding" bindingConfiguration="Wopi_ServiceSoap"
          contract="Wopi_WebService.Wopi_ServiceSoap" name="Wopi_ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>